{{define "main"}}
<span class="list-title">Posts with tag <h3>{{.Title}}</h3></span>
<div class="range">
    {{ range (.Paginator 10).Pages }}
        <article class="post">
            <h2 class="post-title"><a href="{{ .Permalink }}">{{.Title}}</a></h2>
            <span class="post-date">{{.Date.Format "Jan 2, 2006"}}</span>
            {{- partial "categories.html" . -}}
            <section class="post-content">
                {{.Summary}}
                {{ if .Truncated }}<span class="post-read-more"><a href="{{ .Permalink }}">{{if or (not .Params.readmore) (eq .Params.readmore "")}}{{.Site.Params.readmore}}...{{else}}{{.Params.readmore}}...{{end}}</a></span>{{end}}
            </section>
        </article>
        {{end}}
        {{- partial "pagination.html" . -}}
        </div>
{{end}}