{{define "main"}}
<h2 class="contact-form-title">Contact Me</h2>
<p>If you've a <b><i>sugestion</i></b> or want to point out an <b><i>issue</i></b> related to this blog, you can do it on <b><a href="https://github.com/emanuelpina/blog/issues/">GitHub</a></b>.</p>
<p>Otherwise, if want to give me some <b><i>feedback</i></b> about one of my posts or for any <b><i>other subject</i></b>, you can contact me through one of the following options.</p>
<h4><svg class="icon-keybase"><use xlink:href="#keybase"></use></svg> Keybase</h4>
<p>You can found me on Keybase as <b><a href="https://keybase.io/emanuelpina">@emanuelpina</a></b>. This is probably the most secure and private way to get in touch with me. You can also use my Keybase profile as proof of my others identities online.</p>
<h4><svg class="icon-mastodon"><use xlink:href="#mastodon"></use></svg>Mastodon</h4>
<p>Mastodon is my <i>daily drive</i> social media platform and I've my own instance of one. You can reach me out or follow me searching for <b><i>@emanuel@mastodon.emanuelpina.pt</i></b>.</p>
<h4><svg class="icon-email"><use xlink:href="#email"></use></svg>Email</h4>
<p>Use the form bellow to send me an email.<br>You can encrypt your message using this <a href="https://keybase.io/emanuelpina/key.asc" target="_blank" title="My PGP public key hosted on keybase.io">PGP key</a>.</p>
<div class="contact-form-container">
    <form class="contact-form" name="Contact" method="POST"  action="https://forms.emanuelpina.pt">
        <input type="hidden" name="_formName" value="emanuelpina.pt">
        <input type="hidden" name="_redirectTo" value="{{.Permalink}}#success">
        <p><input class="contact-form-name" type="text" name="_name" placeholder="Name (required)" required/></p>
        <p><input class="contact-form-email" type="email" name="_replyTo" placeholder="Email" /></p>
        <p><input class="contact-form-website" type="text" name="_website" placeholder="Website" /></p>
        <p><input class="contact-form-subject" type="text" name="_subject" placeholder="Subject" /></p>
        <p class="contact-form-message-wrap"><textarea class="contact-form-message" name="_message" placeholder="Message (required)" required></textarea></p>
        <p class="contact-form-pgp-key">PGP Key: <a href="https://keybase.io/emanuelpina/key.asc" target="_blank" title="My PGP public key hosted on keybase.io">D82A 5145 67C6 F63C 1E24 C4A7 B61E 197D 56C2 07EB</a></p>
        <p class="contact-form-gdpr-wrap"><label class="contact-form-gdpr"><input class="contact-form-gdpr-box" type="checkbox" name="Data Retention" value="Authorized" /><span class="contact-form-gdpr-icon"><svg><use xlink:href="{{ .Site.BaseURL }}images/sprite.svg#check"></use></svg></span><span class="contact-form-gdpr-label">I authorize my data to be saved by the time needed to answer my request.</span></label></p>
        <p><button class="contact-form-submit" type="submit">Send</button></p>
    </form>
    <div id="success" class="contact-form-success">
        <p>Your message has been successfully sent. Thank you!</p>
    </div>
</div>
{{end}}