{{define "main"}}
<h2 class="contact-form-title">Contact Form</h2>
<div class="contact-form-container">
    <p>You can use this form to send me a message</p>
    <form class="contact-form" name="Contact" method="POST" netlify-honeypot="Website" action="/contact/#success" netlify>
        <p><input class="contact-form-name" type="text" name="Name" placeholder="Name" required/></p>
        <p><input class="contact-form-email" type="email" name="Email" placeholder="Email" required/></p>
        <p><input class="contact-form-website" type="text" name="Website" placeholder="Website" /></p>
        <p><input class="contact-form-subject" type="text" name="Subject" placeholder="Subject" required/></p>
        <p><textarea class="contact-form-message" name="Message" placeholder="Message" required></textarea></p>
        <p class="contact-form-pgp-key">PGP Key: <a href="https://keybase.io/emanuelpina/pgp_keys.asc?fingerprint=f64e33153600dc38ba2a653d06509ef224ed0965" target="_blank" title="My PGP public key hosted on keybase.io">F64E 3315 3600 DC38 BA2A 653D 0650 9EF2 24ED 0965</a></p>
        <p class="contact-form-gdpr-wrap"><label class="contact-form-gdpr"><input class="contact-form-gdpr-box" type="checkbox" name="DataRetention" value="Authorized" /><span class="contact-form-gdpr-icon"><svg><use xlink:href="{{ .Site.BaseURL }}images/sprite.svg#check"></use></svg></span><span class="contact-form-gdpr-label">I authorize my data to be saved by the time needed to answer my request.</span></label></p>
        <p><button class="contact-form-submit" type="submit">Send</button></p>
    </form>
    <div id="success" class="contact-form-success">
        <p>Your message has been successfully sent. Thank you!</p>
    </div>
</div>
{{end}}