{{ define "main" }}
<div class="range">
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") 5 }}
{{ range $paginator.Pages }}
<article class="post">
    <h2 class="post-title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
    <span class="post-date">{{.Date.Format "Jan 2, 2006"}}</span>
    {{- partial "categories.html" . -}}
    <section class="post-content">
      {{if .Params.thumbnail }}<a href="{{ .Permalink }}" alt="{{ .Title }}"><img class="post-featureimage" src="{{.Site.Params.imagecdn}}c_fill,f_auto,q_auto,w_900/{{.Params.thumbnail}}" alt="{{ .Title }}"></a>{{end}}
      {{ $parts := split .Content "<!--readmore-->" }}
      {{ $summary := index $parts 0 }}
      {{ $summaryHTML := safeHTML $summary }}
      {{ if eq $summaryHTML .Content }}
        {{ .Content }}
      {{ else }}
        {{ $summaryHTML }}
        <span class="post-read-more"><a href="{{ .Permalink }}">{{if eq .Params.readmore ""}}{{.Site.Params.readmore}}{{else}}{{.Params.readmore}}{{end}}</a></span>
      {{ end }}
    </section>
    <span class="post-comments-count"><a href="{{ .Permalink }}#commento"></a></span>
</article>
{{end}}
{{- partial "pagination.html" . -}}
</div>
{{end}}
