{{ define "main" }}
<div class="range">
{{ $paginator := .Paginate (where .Pages "Type" "posts") 5 }}
{{ range $paginator.Pages }}
<article class="post">
    <h2 class="post-title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
    <span class="post-date">{{.Date.Day}} {{index $.Site.Data.meses (printf "%d" .Date.Month)}} {{.Date.Year}}</span>
    {{- partial "categories.html" . -}}
    <section class="post-content">
      {{if .Params.thumbnail }}<a href="{{ .Permalink }}" alt="{{ .Title }}">
        <picture>
          <source srcset='{{ .Site.Params.imagescdn }}/c_scale,q_auto:best,w_900{{ replace (.Params.thumbnail) "jpg" "webp" }}' type="image/webp">
          <img class="post-featureimage" src="{{ .Site.Params.imagescdn }}/c_scale,q_auto:best,w_900{{ .Params.thumbnail }}" alt="{{ .Title }}">
        </picture>
      </a>{{end}}
      {{ $parts := split .Content "<!--readmore-->" }}
      {{ $summary := index $parts 0 }}
      {{ $summaryHTML := safeHTML $summary }}
      {{ if eq $summaryHTML .Content }}
        {{ .Content }}
      {{ else }}
        {{ $summaryHTML }}
        <span class="post-read-more"><a href="{{ .Permalink }}">{{if eq .Params.readmore ""}}{{.Site.Params.readmore}}{{else}}{{.Params.readmore}}{{end}}</a></span>
      {{ end }}
    </section>
    {{ if isset $.Site.Data.comments .Section }}
      {{ $comments := index $.Site.Data.comments (.Section) (.File.ContentBaseName) }}
      {{ if $comments }}
      <span class="post-comments-count"><a href="{{ .Permalink }}#comentarios">{{ len $comments  }}{{ if gt (len $comments) 1 }} comentários{{ else }} comentário{{ end }}</a></span>
      {{ end }}
    {{ else }}
    <span class="post-comments-count"><a href="{{ .Permalink }}#deixe-um-comentario">0 Comentários</a></span>
    {{ end }}
</article>
{{end}}
{{- partial "pagination.html" . -}}
</div>
{{end}}
