{{ define "main" }}
<section class="range">
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") 5 }}
{{ range $paginator.Pages }}
<article class="post">
  <h1 class="post-title"><a href="{{.RelPermalink}}">{{.Title}}</a></h1>
  <header class="post-details">
    <time class="post-date">{{.Date.Format "Jan 2, 2006"}}</time>
    {{- partial "categories.html" . -}}
    {{if .Params.thumbnail }}<a href="{{ .RelPermalink }}" alt="{{ .Title }}"><img class="post-featureimage" src="{{.Site.Params.imagecdn}}c_fill,f_auto,q_auto,w_800/{{.Params.thumbnail}}" alt="{{ .Title }}"></a>{{end}}
  </header>
  <div class="post-content">
    {{ $parts := split .Content "<!--readmore-->" }}
    {{ $summary := index $parts 0 }}
    {{ $summaryHTML := safeHTML $summary }}
    {{ if eq $summaryHTML .Content }}
      {{ .Content }}
    {{ else }}
      {{ $summaryHTML }}
      <span class="post-read-more"><a href="{{ .RelPermalink }}">{{if or (not .Params.readmore) (eq .Params.readmore "")}}{{.Site.Params.readmore}}...{{else}}{{.Params.readmore}}...{{end}}</a></span>
    {{ end }}
  </div>
</article>
{{end}}
{{- partial "pagination.html" . -}}
</section>
{{end}}
