{{define "main"}}
<article class="post">
    <h1 class="post-title">{{.Title}}</h1>
    <header class="post-details">
        <time class="post-date">{{.PublishDate.Format "Jan 2, 2006"}}</time>
        {{- partial "categories.html" . -}}
        {{- partial "readingtime.html" . -}}
        {{- partial "edit.html" . -}}
        {{if .Params.thumbnail }}<img class="post-featureimage" src="{{.Site.Params.imagecdn}}c_fill,f_auto,q_auto,w_800/{{.Params.thumbnail}}" alt="{{ .Title }}">{{end}}
        {{- partial "tags.html" . -}}
        {{- partial "update.html" . -}}
    </header>
    <div class="post-content">
        {{ .Summary }}
        {{if .Params.tableofcontents}}
        <aside id="TOC">
            <h4>Table Of Contents</h4>
            {{ .TableOfContents }}
        </aside>
        {{end}}
        {{ $body := replace .Content .Summary "" | safeHTML }}
        {{- partial "addHeadingsLinks.html" $body -}}
    </div>
</article>
{{- partial "pagination-single.html" . -}}
{{end}}