//Reset
*, :before, :after
    margin: 0
    padding: 0
    box-sizing: border-box
*:focus
    outline: none

//Media queries breaks
$tabletscr: 800px
$phonescr: 400px

//Colors
$base: #111111 //Base color
$links: #E74C3C //Links color
$hover: #212121 //Hover color
$grey9: #0A0A0A
$grey8: #212121
$grey7: #424242
$grey6: #616161
$grey5: #757575
$grey4: #9E9E9E
$grey3: #BDBDBD
$grey2: #E0E0E0
$grey1: #EEEEEE
$grey0: #F5F5F5

a
    color: $links
    text-decoration: none
    transition: all 200ms ease-in-out
    &:hover
        color: $hover

//Typography
$phi: 1.61803398875 //Golden Ratio

$fs: 18px //Font size
$lh: round($fs * $phi) //Line height
$h1: round($fs * 2.05) //Heading 1 font size
$h2: round($fs * 1.6) //Heading 2 font size
$h3: round($fs * 1.25) //Heading 3 font size
$h4: round($fs * 1.12) //Heading 4 font size

$halflh: round($lh / 2) //Half the size of line height

html
    scroll-padding-top: round(60px+$lh)
    font-family: 'Muli', sans-serif
    font-size: $fs
    line-height: $lh
    color: $base

h1, h2, h3, h4
    font-family: 'Poppins', sans-serif
    text-align: left
    margin-top: round(3*$lh)
h1
    font-size: $h1
    line-height: round($h1 * $phi)
h2
    font-size: $h2
    line-height: round($h2 * $phi)
h3
    font-size: $h3
    line-height: round($h3 * $phi)
h4
    font-size: $h4
    line-height: round($h4 * $phi)

p
    margin-top: $lh

ul, ol
    margin-left: 2rem
    margin-top: $halflh
    ul, ol
        margin-left: 1rem
        margin-top: 0

blockquote
    padding-left: 1rem
    border-left: 7px solid #ddd
    color: #777

code
    font-family: 'Cascadia Code', monospace
    font-size: 0.8rem
    background-color: $grey2
    padding: 2px 4px 4px 4px
    border-radius: 2px
    color: $grey7

.highlight
    margin-top: $halflh
    padding-bottom: 8px
    .chroma
        border-radius: 2px
        padding: 4px 0
        overflow: auto
        .lnt
            margin-right: 0
            padding: 0 0 0 5px
        code
            display: inline-block
            padding: 0 10px
            background-color: #272822
            color: $grey0

hr
    border: 1px solid #666

table
    border-collapse: collapse
    border: 1px solid #666
    margin-top: $lh
    th, td
        border: 1px solid #666
        padding: 4px 8px
    td
        font-size: 0.9rem
    thead
        border-bottom: 2px solid #666

sup
    font-size: 0.6rem

.footnotes
    margin-top: $lh
    font-size: 0.8rem
    color: #888
    &:before
        content: 'Footnotes'
        //font-size: 0.7rem
    hr
        border: 1px solid #888
    ol
        margin-top: round(0.25*$lh)
    p
        margin-top: 0
    sup
        font-size: 0
        &:after
            font-size: 1rem
            content: '\2934'

p img
    width: 100%
    max-width: 700px
    display: block
    margin: 0 auto

.wrap-image-left
    float: left
    margin: 10px 20px 0 0

.wrap-image-right
    float: right
    margin: 10px 0 0 20px

.image-center
    max-width: 600px
    margin: 0 auto
    margin-bottom: $lh
    img
        width: 100%

figure
    figcaption
        h4
            font-size: 0.8rem
            line-height: round($lh*0.8)
            margin-top: 0
        p
            font-size: 0.7rem
            line-height: round($lh*0.7)
            margin-top: 0
.box
    padding: $halflh
    margin-top: $lh
    border-radius: 2px
    p:first-child
        margin-top: 0
    &.yellow
        background-color: #fcf8e3
        border: 1px solid #faebcc
        color: #8a6d3b
    &.blue
        background-color: #d9edf7
        border: 1px solid #bce8f1
        color: #31708f
    &.red
        background-color: #f2dede
        border: 1px solid #ebccd1
        color: #a94442
    &.grey
        background-color: #eee
        border: 1px solid #ddd
        color: $grey7
    &.cfc
        margin: round(2*$lh) 0.5%
        margin-bottom: 0
        font-size: 0.9rem
        padding: 4px 10px

.marker
    padding: 0 2px 2px 2px
    &.yellow
        background-color: #ffffb3
    &.green
        background-color: #ccffcc
    &.blue
        background-color: #cceeff
    &.red
        background-color: #ffcccc
    &.grey
        background-color: #e6e6e6

//Container
.container
    display: flex
    flex-direction: column

//Navbar
.navbar-wrap
    z-index: 1
    position: sticky
    top: 0
    background-color: #fff
    padding: 20px 0
    transition: all 400ms ease-in-out, height 0ms
    .navbar
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        max-width: 1000px
        margin: 0 auto
        .mugshot
            align-self: center
            border-radius: 50%
            width: 40px
            height: 40px
            margin: 0 15px
            @media screen and (max-width: $phonescr)
                display: none
        .site-title
            align-self: center
            flex-grow: 2
            font-family: 'Amatic SC', cursive
            font-size: 2.3rem
            letter-spacing: 0.2rem
            line-height: 40px
            transition: all 200ms ease-in-out
            @media screen and (max-width: $phonescr)
                margin-left: 15px
    a
        color: $grey7
        &:hover
            color: $grey8
.navbar-menu
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    overflow: auto
.scroll
    background-color: $grey9
    padding: 10px 0
    a
        color: $grey3
        &:hover
            color: $grey1
    .menu-trigger
        svg
            fill: $grey3
            &:hover
                fill: $grey1
    @media screen and (min-width: $tabletscr)
        .navmenu-child
            a
                color: $grey7

//Navmenu
.menu-trigger
    align-self: center
    display: none
    margin: 0 15px
    cursor: pointer
    @media screen and (max-width: $tabletscr)
        display: block
    .icon-menu
        width: 20px
        height: 20px
    .icon-close
        width: 22px
        height: 22px
    svg
        fill: $grey7
        vertical-align: -3px
        transition: fill 200ms ease-in-out
        &:hover
            fill: $grey8
.menu-triggered
    position: sticky
    top: 6px
    z-index: 2
.navmenu
    align-self: center
    @media screen and (max-width: $tabletscr)
        display: none
        width: 100%
    .navmenu-list
        list-style: none
        margin: 0 15px
        @media screen and (max-width: $tabletscr)
            margin: $lh 0 0 0
            padding: 0 10px
        .navmenu-item
            display: inline-block
            position: relative
            padding: 2px 8px
            font-size: 1.1rem
            @media screen and (max-width: $tabletscr)
                display: block
                margin-left: 8px
                margin-bottom: $lh
                font-weight: bold
                &:last-child
                    margin-bottom: 0
            &:hover .navmenu-child
                visibility: visible
                opacity: 1
            .navmenu-child
                visibility: hidden
                opacity: 0
                list-style: none
                position: absolute
                right: 0
                white-space: nowrap
                background-color: $grey1
                margin: 4px 8px 0 0
                padding: 6px 18px
                border-radius: 2px
                font-size: 1rem
                line-height: round(1.5*$lh)
                text-transform: capitalize
                transition: all 400ms ease-in-out
                a
                    display: block
                    &:hover
                        color: $links
                @media screen and (max-width: $tabletscr)
                    visibility: visible
                    opacity: 1
                    position: relative
                    margin: 0
                    font-weight: normal
                    background-color: unset
.navmenu-show
    display: block
.noscroll
    overflow: hidden

//Content
.content
    padding: round(2*$lh) $lh $lh $lh
    width: 100%
    max-width: 1000px
    min-width: 0
    align-self: center

//Post
.post
    margin-top: round(4*$lh)
    &:first-child
        margin-top: 0
.post-title
    line-height: round($lh*$phi)
    margin: 0
    a
        color: $grey8
        &:hover
            color: $links
.post-details
    .post-date, .post-readingtime
        font-size: 0.9rem
        color: $grey5
        margin-right: 10px
    .post-categories, .post-tags, .post-readingtime, .post-edit
        white-space: nowrap
        margin-right: 10px
        a
            font-size: 0.9rem
            color: $grey5
            &:after
                content: ", "
                color: $grey5
            &:last-child:after
                content: ""
            &:hover
                color: $grey7
        svg
            fill: $grey5
            width: 16px
            height: 16px
            vertical-align: -2px
            margin-right: 4px
            transition: fill 200ms ease-in-out
        &:hover svg
            fill: $grey7
    .post-featureimage
            display: block
            margin: $lh auto
            width: 100%
            max-width: 800px
            border-radius: 2px
.post-content
    margin-top: $lh
    text-align: justify
    .post-heading-link
        display: none
        color: $grey4
        font-size: 1.1rem
        font-weight: 400
        line-height: $h3
        margin-left: 6px
        svg
            width: 16px
            height: 16px
            fill: $grey4
            transition: all 200ms ease-in-out
            &:hover
                fill: $hover
    h3:hover > .post-heading-link
        display: inline
    .post-read-more
        margin-top: $halflh
        display: inline-block
        font-weight: bold

//List Pages
.list-title
    h3
        margin-top: 0

.categories, .tags
    .post
        margin-top: round(2*$lh)
    .post-content
        margin-top: $halflh
        .post-read-more
            display: unset

//Single Pages
.posts
    .post-title
        text-align: center
    .post-details
        width: fit-content
        margin: 0 auto
        text-align: center
        .post-featureimage
            margin-top: $halflh
        .post-tags
            display: block
            margin-left: 0
            margin-top: $lh
            text-align: left
            svg
                display: none
            a
                font-size: 0.8rem
                background-color: $grey2
                padding: 4px 8px
                border-radius: 2px
                color: $grey7
                &:hover
                    background-color: $grey1
                    color: $grey6
                &:after
                    content: ""
    .post-content
        margin-top: $halflh

//Taxonomie Page
.taxonomie-title
    display: block
    margin-bottom: $lh
    margin-top: 0
.taxonomie-list
    list-style: none
    margin-left: 0
    a
        font-weight: bold
        line-height: round(1.5*$lh)

//Contact Page
.contact
    h4
        svg
            width: 20px
            height: 20px
            margin-right: 3px
    .contact-form-title
        margin-top: 0
    .contact-form-success
        display: none
        max-width: 400px
        background-color: #dff0d8
        border: 1px solid #d6e9c6
        border-radius: 2px
        color: #3c763d
        padding: 12px 16px
        margin-top: $lh
        p
            margin-top: initial
        &:target
            display: block
.contact-form
    max-width: 400px
    input, textarea
        width: 100%
        font-family: 'Muli', sans-serif
        font-size: 1rem
        line-height: $lh
        padding: 4px 12px
        border: 1px solid $grey2
        border-radius: 2px
        transition: all 200ms ease-in-out
        &::placeholder
            color: $grey3
        &:hover
            background-color: $grey1
            &::placeholder
                color: $grey4
        &:focus
            background-color: $grey1
            border-color: $grey1
            &::placeholder
                visibility: hidden
    .contact-form-website
        display: none
    .contact-form-message-wrap
        margin-bottom: 0
        .contact-form-message
            height: 200px
    .contact-form-pgp-key
        font-size: 0.7rem
        padding: 0 3px
        margin-top: 0
        a
            font-size: 0.6rem
    .contact-form-gdpr
        cursor: pointer
        font-size: 0.8rem
        line-height: round(0.8*$lh)
        .contact-form-gdpr-box
            display: none
            &:hover + .contact-form-gdpr-icon
                border-color: $grey3
            &:checked + .contact-form-gdpr-icon
                border-color: #4caf50
                background-color: #4caf50
            &:checked + .contact-form-gdpr-icon > svg
                opacity: 1
                fill: #fff
    .contact-form-gdpr-icon
        position: relative
        display: inline-block
        border: 1px solid $grey2
        border-radius: 4px
        width: 16px
        height: 16px
        vertical-align: -12%
        margin-right: 6px
        transition: all 200ms ease-in-out
        svg
            position: absolute
            opacity: 0
            width: 14px
            height: 14px
            transition: all 200ms ease-in-out
    .contact-form-gdpr-wrap
        padding: 0 6px
        transition: all 400ms ease-in-out
        margin-top: round(0.7*$lh)
    .unchecked
        background-color: #ffcdd2
        border-radius: 2px
        .contact-form-gdpr-icon
            border-color: $grey6
        .contact-form-gdpr-box
            &:hover + .contact-form-gdpr-icon
                border-color: $grey6
    .contact-form-submit
        cursor: pointer
        text-transform: uppercase
        font-family: 'Muli', sans-serif
        font-size: 0.9rem
        letter-spacing: 1px
        color: #fff
        border: 0
        border-radius: 2px
        background-color: #4caf50
        padding: 8px 12px
        transition: all 200ms ease-in-out
        &:hover
            opacity: 0.8

//Pagination
.pagination
    font-size: 0
    text-align: center
    margin-top: round(3*$lh)
    div
        display: inline
        font-size: 1rem
        background-color: $grey1
        svg
            width: 20px
            height: 20px
            vertical-align: -4px
            fill: $grey6
            transition: fill 200ms ease-in-out
        a
            display: inline
            background-color: $grey1
            padding: 8px 12px
            &:hover
                background-color: $grey2
            &:hover svg
                fill: $grey7
    .previous-page a, .previous-page-empty
        border-radius: 4px 0 0 4px
    .actual-page
        padding: 8px 12px
        color: $grey6
    .next-page a, .next-page-empty
        border-radius: 0 4px 4px 0
    .previous-page-empty, .next-page-empty
        padding: 8px 4px

//Pagination single page
.pagination-single
    height: $lh
    margin-top: round(3*$lh)
    div
        display: inline
        background-color: $grey1
        svg
            width: 20px
            height: 20px
            vertical-align: -4px
            fill: $grey6
            transition: fill 200ms ease-in-out
        a
            position: relative
            display: inline
            background-color: $grey1
            padding: 8px 12px
            border-radius: 4px
            color: $grey6
            &:hover
                background-color: $grey2
                &:before
                    content: attr(alt)
                    position: absolute
                    bottom: round(1.5*$lh)
                    left: 0
                    width: max-content
                    max-width: 300px
                    background-color: $grey8
                    color: $grey2
                    font-size: 0.9rem
                    padding: 2px 8px
                    border-radius: 2px
            &:hover svg
                fill: $grey7
    .next-post
        float: left
    .previous-post
        float: right
        a:hover:before
            left: initial
            right: 0

//Footer
.footer
    width: 100%
    max-width: 1000px
    margin: $halflh auto
    margin-top: $lh
    text-align: center
//Social links
.social-links
    svg
        width: 22px
        height: 22px
        margin: 0 4px
        vertical-align: middle
        fill: $grey4
        transition: fill 200ms ease-in-out
    .icon-twitter:hover
        fill: #1da1f2
    .icon-mastodon
        width: 20px
        height: 20px
        &:hover
            fill: #2b90d9
    .icon-instagram:hover
        fill: #5851db
    .icon-github:hover
        fill: #6e5494
    .icon-keybase
        width: 20px
        height: 20px
        &:hover
            fill: #33a0ff

//Youtube and Twitch lazyload
.youtube, .twitch
    position: relative
    background: #000
    border-radius: 2px
    padding-top: 56.25%
    margin-bottom: $lh
    overflow: hidden
    cursor: pointer
    img
        position: absolute
        width: 100%
        top: -16.5%
        opacity: 0.7
    iframe
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
.youtube
    .icon-play
        position: absolute
        width: 80px
        top: 50%
        left: 50%
        transform: translate3d(-50%, -50%, 0)
        fill: #f00
        opacity: 0.8
        transition: opacity 200ms ease-in-out
    &:hover .icon-play
        opacity: 1
.twitch
    .play
        position: absolute
        width: 120px
        top: 50%
        left: 50%
        transform: translate3d(-50%, -50%, 0)
    .icon-play
        fill: #fff
        opacity: 0.8
        transition: all 200ms ease-in-out
    &:hover .icon-play
        fill: #b9a3e3
        opacity: 1

//Youtube and Twitch videos aspect ratios
.ratio21-9
    padding-top: 42.6%
    img
        top: -38.1%
.ratio2-1
    padding-top: 50%
    img
        top: -25%
.ratio4-3
    padding-top: 75%
    img
        top: 0

//404 page
.fourohfour
    text-align: center
    span
        display: block
    .fourohfour-title
        font-size: 6rem
        line-height: round(6*$lh)
        color: $links
    .fourohfour-return
        margin: round(2*$lh) 0
        a
            color: $grey6
            background-color: $grey1
            border-radius: 4px
            padding: 8px 12px
            &:hover
                background-color: $grey2
                color: $grey7
            svg
                width: 22px
                height: 22px
                vertical-align: -5px
                margin-right: 6px
                fill: $grey6
                transition: fill 200ms ease-in-out
            &:hover svg
                fill: $grey7

//Scroll up button with progress indication
.scroll-up
    cursor: pointer
    position: fixed
    bottom: 10px
    right: 10px
    width: 40px
    height: 40px
    opacity: 0
    .scroll-up-progress
        width: 100%
        height: 100%
        circle
            stroke: $links
            stroke-width: 25%
            fill: $links
    .scroll-up-arrow
        position: absolute
        bottom: 25%
        right: 25%
        width: 50%
        height: 50%
        path
            fill: $grey0
