{{define "main"}}
{{ $type := .Type}} <!--Define variable $type to use inside the posts range-->
{{ partial "list-titles.html" . }}
<div class="range">
    {{ range (.Paginator 10).Pages }}
        <article class="post">
            <h3 class="post-title"><a href="{{ .Permalink }}">{{.Title}}</a></h3>
            <span class="post-date">{{.Date.Day}} {{index $.Site.Data.meses (printf "%d" .Date.Month)}} {{.Date.Year}}</span>
            {{ if eq $type "categories" }}
                {{- partial "tags.html" . -}}
            {{else if eq $type "tags"}}
                {{- partial "categories.html" . -}}
            {{end}}
            <section class="post-content">
                {{.Summary}}
                {{ if .Truncated }}<span class="post-read-more"><a href="{{ .Permalink }}">{{if or (not .Params.readmore) (eq .Params.readmore "")}}{{.Site.Params.readmore}}{{else}}{{.Params.readmore}}{{end}}</a></span>{{end}}
            </section>
        </article>
        {{end}}
        {{- partial "pagination.html" . -}}
        </div>
{{end}}