{{define "main"}}
<article class="post">
    <h1 class="post-title">{{.Title}}</h1>
    <header class="post-details">
        <span class="post-date">{{.Date.Format "Jan 2, 2006"}}</span>
        {{- partial "categories.html" . -}}
        {{- partial "readingtime.html" . -}}
        {{- partial "edit.html" . -}}
        {{if .Params.thumbnail }}<img class="post-featureimage" src="{{.Site.Params.imagecdn}}c_fill,f_auto,q_auto,w_800/{{.Params.thumbnail}}" alt="{{ .Title }}">{{end}}
        {{- partial "tags.html" . -}}
    </header>
    <div class="post-content">
        {{.Content}}
    </div>
    {{- partial "commento.html" . -}}
</article>
{{- partial "pagination-single.html" . -}}
{{end}}