{{$prev := .Site.RegularPages.ByPublishDate.Prev .}}
{{$next := .Site.RegularPages.ByPublishDate.Next .}}
{{if or $prev $next}}
<div class="pagination-single">
    {{if $next}}{{with $next}}
    <div class="next-post">
        <a href="{{.RelPermalink}}" alt="{{.Title}}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-left" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <line x1="5" y1="12" x2="19" y2="12" />
                <line x1="5" y1="12" x2="11" y2="18" />
                <line x1="5" y1="12" x2="11" y2="6" />
            </svg>
        </a>
    </div>
    {{end}}{{end}}
    {{if $prev}}{{with $prev}}
    <div class="previous-post">
        <a href="{{.RelPermalink}}" alt="{{.Title}}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-right" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <line x1="5" y1="12" x2="19" y2="12" />
                <line x1="13" y1="18" x2="19" y2="12" />
                <line x1="13" y1="6" x2="19" y2="12" />
            </svg>
        </a>
    </div>
    {{end}}{{end}}
{{ end }}
