{{ if isset $.Site.Data.comments .Section }}
    {{ $comments := index $.Site.Data.comments (.Section) (.File.ContentBaseName) }}
    {{ if $comments }}
        <span class="post-comments-count"><a href="{{ .Permalink }}#comentarios">{{ len $comments  }}{{ if gt (len $comments) 1 }} comentários{{ else }} comentário{{ end }}</a></span>
    {{ else }}
        <span class="post-comments-count"><a href="{{ .Permalink }}#deixe-um-comentario">0 Comentários</a></span>
    {{ end }}
{{ else }}
    <span class="post-comments-count"><a href="{{ .Permalink }}#deixe-um-comentario">0 Comentários</a></span>
{{ end }}