<section class="post-comments-form" id="deixe-um-comentario">
    <h4 class="post-comments-form-title">Deixe um comentário</h4>
    <form method="POST" action="https://api.staticman.net/v3/entry/github/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/comments">
      <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
      <input type="hidden" name="options[redirectError]" value="{{ .Permalink }}#comment-error">
      <input type="hidden" name="options[slug]" value="{{ .File.ContentBaseName  }}">
      <input type="hidden" name="options[section]" value="{{ .Section }}">
      <input type="hidden" name="options[origin]" value="{{ .Permalink }}">
      <input type="hidden" name="options[parent]" value="{{ .File.ContentBaseName }}">
      <input type="hidden" name="fields[reply_to]" value="">
      <input type="address" name="fields[botpot]" placeholder="botpot (do not fill!)" style="display:none">
      {{ if isset .Site.Params.staticman "recaptcha" }}
      <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ .Site.Params.recaptcha.siteKey }}">
      <input type="hidden" name="options[reCaptcha][secret]" value="{{ .Site.Params.recaptcha.secret }}">
      {{ end }}
  
      <input name="fields[name]" type="text" placeholder="Nome" required>
      <input name="fields[email]" type="email" placeholder="Email" required>
      <textarea name="fields[body]" placeholder="Comentário" required></textarea>
  
      {{ if .Site.Params.staticman.notifications }}
        <div>
          <input type="checkbox" name="options[subscribe]" value="email">
          Send me an email when someone comments on this post.
        </div>
      {{ end }}
  
      {{ if isset .Site.Params.staticman "recaptcha" }}
        <div class="g-recaptcha" data-sitekey="{{ .Site.Params.recaptcha.siteKey }}" data-callback="enableBtn"></div>
      {{ end }}
  
      <button class="post-comments-form-submit" type="submit">Comentar</button>
      <button class="post-comments-form-cancel" type="reset">Cancelar</button>
    </form>
    <div id="comment-submitted">
      <h4>Obrigado</h4>
      <p>O seu comentário foi recebido e será publicado após revisão. Este não é um processo automático, podendo demorar algumas horas.</p>
  <!-- {{ if (.Site.Params.githubPullURL) }}
        <p><a href="https://github.com/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/pulls">Click here</a> to see the pull request you generated.</p>
      {{ end }} -->
    </div>
    
    <div id="comment-error">
      <h4>Oops!</h4>
      <p>Não foi possível enviar o seu comentário. Por favor <a href="{{ .Permalink }}">volte atrás</a> e tente de novo. Obrigado!</p>
  <!-- <p>If this error persists, please open an issue by <a href="https://github.com/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/issues"> clicking here</a>.</p> -->
    </div>
  </section>
  
  {{ if isset .Site.Params.staticman "recaptcha" }}
  <script async src='https://www.google.com/recaptcha/api.js' ></script>
  
  <script type="text/javascript">
    document.getElementById("submit-button").disabled = true;
  </script>
  
  <script type="text/javascript">
    function enableBtn(){
      document.getElementById("submit-button").disabled = false;
    }
  </script>
  {{ end }}