<div class="menu-trigger">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon-menu" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <line x1="4" y1="8" x2="20" y2="8" />
        <line x1="4" y1="16" x2="20" y2="16" />
    </svg>
</div>
<nav class="navmenu">
    <ul class="navmenu-list">
        <li class="navmenu-item"><a href="/contact/" alt="Contact">Contact</a></li>
        <li class="navmenu-item has-children"><a href="/categories/" alt="Categorias">Categories</a>
            <ul class="navmenu-child">
                {{range $key, $value := .Site.Taxonomies.categories}}
                {{$cat_alias := index $.Site.Data.categories $key}} <!--Search /data/categories.yaml for an alias name for the category-->
                <li class="navmenu-child-item">
                <a href="/categories/{{$key | urlize}}/">{{if $cat_alias}}{{$cat_alias}}{{else}}{{$key | humanize}}{{end}}</a>
                </li>
                {{end}}
            </ul>
        </li>
    </ul>
</nav>