{{if gt .Paginator.TotalPages 1}}
<div class="pagination">
    {{if .Paginator.HasPrev}}<div class="previous-page"><a href="{{.Permalink}}{{.Site.Params.paginationpath}}/{{sub .Paginator.PageNumber 1}}"><svg class="icon-left"><use xlink:href="{{ .Site.BaseURL }}images/sprite.svg#left"></use></svg></a></div>{{else}}<div class="previous-page-empty"></div>{{end}}
    <div class="actual-page">{{.Paginator.PageNumber}} / {{.Paginator.TotalPages}}</div>
    {{if .Paginator.HasNext}}<div class="next-page"><a href="{{.Permalink}}{{.Site.Params.paginationpath}}/{{add .Paginator.PageNumber 1}}"><svg class="icon-right"><use xlink:href="{{ .Site.BaseURL }}images/sprite.svg#right"></use></svg></a></div>{{else}}<div class="next-page-empty"></div>{{end}}
</div>
{{end}}