<span class="social-links">
    <a href="https://twitter.com/emanuelpina" alt="Twitter" target="_blank">
        <svg class="icon-twitter"><use xlink:href="{{ .Site.BaseURL }}images/sprite.svg#twitter"></use></svg>
    </a>
    <a rel="me" href="https://mstdn.io/@grandmaester" alt="Mastodon" target="_blank">
        <svg class="icon-mastodon"><use xlink:href="{{ .Site.BaseURL }}images/sprite.svg#mastodon"></use></svg>
    </a>
    <a href="https://instagram.com/emanuelpina" alt="Instagram" target="_blank">
        <svg class="icon-instagram"><use xlink:href="{{ .Site.BaseURL }}images/sprite.svg#instagram"></use></svg>
    </a>
    <a href="https://github.com/emanuelpina" alt="GitHub" target="_blank">
        <svg class="icon-github"><use xlink:href="{{ .Site.BaseURL }}images/sprite.svg#github"></use></svg>
    </a>
</span>
