<span class="social-links">
    <a href="https://twitter.com/emanuelpina" title="Twitter" target="_blank">
        <svg class="icon-twitter"><use xlink:href="#twitter"></use></svg>
    </a>
    <a href="https://instagram.com/emanuelpina" title="Instagram" target="_blank">
        <svg class="icon-instagram"><use xlink:href="#instagram"></use></svg>
    </a>
    <a rel="me" href="https://mstdn.io/@emanuel" title="Mastodon" target="_blank">
        <svg class="icon-mastodon"><use xlink:href="#mastodon"></use></svg>
    </a>
    <a href="https://github.com/emanuelpina" title="GitHub" target="_blank">
        <svg class="icon-github"><use xlink:href="#github"></use></svg>
    </a>
    <a href="https://keybase.io/emanuelpina" title="Keybase" target="_blank">
        <svg class="icon-keybase"><use xlink:href="#keybase"></use></svg>
    </a>
</span>
