{{define "main"}}
<span class="list-title">Posts in category <h3>{{.Title}}</h3></span>
<section class="range">
    {{range (.Paginator 10).Pages}}
        <article class="post">
            <h2 class="post-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h2>
            <header class="post-details">
                <time class="post-date">{{.Date.Format "Jan 2, 2006"}}</time>
                {{- partial "tags.html" . -}}
            </header>
            <div class="post-content">
                {{.Summary | plainify}}
                {{if .Truncated}}<span class="post-read-more"><a href="{{ .RelPermalink }}">{{if or (not .Params.readmore) (eq .Params.readmore "")}}{{.Site.Params.readmore}}...{{else}}{{.Params.readmore}}...{{end}}</a></span>{{end}}
            </div>
        </article>
    {{end}}
    {{- partial "pagination.html" . -}}
</section>
{{end}}